<h2>Lista de postagens: </h2>
<hr>
<a href="/admin/postagens/add"><button type="button" class="btn btn-success">Nova postagem</button></a>



{{#each postagens}}
        <div class="card mt-3">
            <div class="card-body">
                <h4>{{titutlo}}</h4>
               <b><p>Descrição:</b> {{descricao}}</p></b>
               <b><small>Data:</b>  {{data}}</small><br>
               <b><small>Categoria:</b> {{categoria.nome}}</small>
               <a href="/admin/postagens/edit/{{_id}}"><br><button type="button" class="btn btn-success mt-3">Editar postagem</button></a>
            </div>
        </div>
{{else}}
    <p>Nenhuma postagem resgistrada</p>
{{/each}}