
<div class="shadow p-3 mb-5 bg-white rounded"><div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao Blog do Silas!</h1> </tr>

  <p class="lead">Este blog foi feito com o intuito de aprendizado e fixação de conteúdo.</p>

  <hr class="my-4">

{{#if user}}
<div class="mt-4"></div>
{{else}}


  <p>Espero que curta e tenha uma ótima experiência conosco.</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="usuarios/registro" role="button">Crie uma conta</a>
  </p>
  </div>
</div>
{{/if}}



<h2>Página de posts</h2>


{{#each postagens}}
<div class="card mt-3">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{conteudo}}</p>
       <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data da criação:{{data}}</small>
    </div>
</div>
{{else}}

    <h5>Nenhuma postagem Encontrada!</h5>

{{/each}}



