<div class="jumbotron">
  <h1 class="display-3">Bem-vindo ao Blog do Silas!</h1>
  <p class="lead">Este blog foi feito com o intuito de aprendedizado e fixação de conteúdo.</p>
  <hr class="my-3">
  <p>Espero que curta e tenha uma experiência boa conosco.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
  </p>
</div>
<h2>Página de posts</h2>


{{#each postagens}}
<div class="card mt-3">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{conteudo}}</p>
       <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data da criação:{{data}}</small>
    </div>
</div>
{{else}}

    <h5>Nenhuma postagem Encontrada!</h5>

{{/each}}
